{% extends "base.html" %}

{% block title  %}Contact{% endblock title  %}
<link rel="style" href="path/to/style.css">



{% block body %}
<div class="container-fluid">
    <h1 class="text-center" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Contact Us</h1>
    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item" style="text-align: center;">
      <p style="font-family: Algerian; font-size: 24px;">
        Address: Survey No. 12, 13<br/>
        Opp. Hypercity Mall, Kasarvadavali,<br/>
        Ghodbunder Road, Thane West,<br/>
        Thane, Maharashtra 400615<br/><br/>
        Phone: 022-25973737</p>
      <p style="font-family: Algerian; font-size: 24px;">
      <p style="font-family: Algerian; font-size: 24px;">Mobile: 7738305400 / 7738940600</p>
      <p style="font-family: Algerian; font-size: 24px;">© 2024 A.P. Shah institute of technology All rights reserved</p>
    </div>
  </div>


{% endblock body %}
