{% extends 'base.html' %}

{% block title %}Registration{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="https://i.postimg.cc/t4zqKvxv/main4-0-1-1.jpg" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center font-size: 24px">Faculty Registration</h1>
    <form method="POST" action={% url "registration" %}>
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter your Name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="Department">Department:</label>      
            <select class="form-select" aria-label="Department" id="Department" name="Department" required>
                <option >Choose any ONE</option>
                <option value="IT">Information Technology</option>
                <option value="CS">Computer Science</option>
                <option value="DS">Data Science</option>
                <option value="AIML">AIML</option>
                <option value="MECH">Mechanical</option>
                <option value="CIVIL">Civil</option>
            </select>
        </div>
        
     <div class="form-group">
        <label for="preference">Prefer to coordinate for:</label>
        <select class="form-select" aria-label="Prefer to coordinate for" id="preference" name="preference">
            <option selected disabled>Choose any ONE</option>
            <option value="Seating_Arrangement">Seating Arrangement</option>
            <option value="Catering_Arrangement">Catering Arrangement</option>
            <option value="Venue_Arrangement">Venue Arrangement</option>
            <option value="Manage_Decorum">Manage Decorum</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
{% endblock body %}
