{% extends 'base.html' %}

{% block title %}Volunteer{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="https://i.postimg.cc/t4zqKvxv/main4-0-1-1.jpg" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Volunteer</h1>
    <form method="POST" action="/volunteer">
        {% csrf_token %}
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter your Name" required>
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Your Email" required>
        </div>
        
        <div class="form-group">
            <label for="Department">Department:</label>      
            <select class="form-select" aria-label="Department" id="Department" name="Department" required>
                <option >Choose any ONE</option>
                <option value="IT">Information Technology</option>
                <option value="CS">Computer Science</option>
                <option value="DS">Data Science</option>
                <option value="AIML">AIML</option>
                <option value="MECH">Mechanical</option>
                <option value="CIVIL">Civil</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="Phone">Phone</label>
            <input type="tel" class="form-control" id="Phone" name="Phone" placeholder="Enter Your Phone Number" required>
        </div>
        
        <div class="form-group">
            <label for="Volunteer_as">Volunteer as:</label>      
            <select class="form-select" aria-label="Volunteer as" id="Volunteer_as" name="Volunteer_as" required>
                <option >Choose any ONE</option>
                <option value="Security">Security</option>
                <option value="Hospitality">Hospitality</option>
                <option value="Photography">Photography</option>
                <option value="Cinematography">Cinematography</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>

{% endblock body %}
